.header {
    grid-area: h;
    background-color: rgba(0, 0, 0, 0.92);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.login{
    color: white;
    padding: 5px;
}