.content{
    padding: 10px;
}
.contentImg {
    height: 280px;
    width: 100%;
    object-fit: cover;
    object-position: 0 35%;
    border-radius: 10px;
}

.top {
   margin-bottom: 10px;
}

.avatar_wrapper {
    position: relative;
    max-width: 170px;
    max-height: 170px;
}

.uploadBTN {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    width: 94%;
    height: 93%;
    left: 0;
    padding-top: 7%;
    padding-left: 7%;
   border: none;
}

input[type="file" i] {
    cursor: pointer;
}

.avatar {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25%;
}

.avatar_wrapper:hover .uploadBTN {
    display: inline-block;
    border-radius: 25%;
    background-color: rgba(48, 55, 87, 0.51);
}

.contacts li {
    width: fit-content;
    margin-bottom: 3px;
    margin-left: 5px;
    background-color: rgba(245, 175, 188, 0.93);
}

.topic {
    margin-bottom: 10px;
}