.dialogs {
    grid-area: c;
    background-color: #41610c;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogs_item {
    background-color: #e3f6fc;
    padding: 5px;
}

.messages {
    background-color: #d2cdcd;
    padding: 5px;
    flex-direction: column;
}

.flex_colomn{
    display: flex;
    flex-direction: column;
}

.dialogs_item .active {
    color: gold;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.66);
}

